@use '../../../styles/variables.scss' as *;
.icon{
    font-size: 4.5rem;
}
.text{
    font-size: .75rem;
}

.disabled{
    opacity: .5;
}

.noCursor{
    cursor: default!important;
}

.remove{
    transition: opacity .2s;
    &:hover{
        opacity: .5;
    }
}

.clearBtn{
    font-size: .8rem;
}