.compContainer{
    :global(.btn) {
            border-radius: .375rem 0rem 0rem .375rem !important;
        }
    :global(.dropdown-toggle-split) {
        border-radius: 0rem !important;
    }
    :global(.dropdown-menu){
        max-height: 200px;
        overflow: auto;
    }
}

